<!doctype html>
<html lang="{{ page.lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="
      Asienkunskap, Japanska, Kinesiska,
      Linköping, Linköpings Universitet, 
      Linköping University, LiU,
      林雪平, 林雪平大学, 
      林雪平, 林雪平大學, 
      リンシェーピング, 
      린셰핑 대학교, 린셰핑">
    <link href="/assets/manifest.json" rel="manifest">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/{{ css }}" />

  </head>

  <set-cookie
    name="lastLang"
    value="{{ page.lang }}"
    persistent />

  <body>
    <header class="box-shadow">
      {% include "partials/header.liquid" %}
    </header>
    {{ content }}
    <footer class="box-shadow">
      {% include "partials/footer.liquid" %}
    </footer>
  </body>
</html>